*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	top: 0;
	height: 100vh;
	overflow: auto;
    background-color: #404258;
	font-family: "Fira Mono", monospace;
}

#container 
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    font-size: 24px;
    color: #ffffff;
}

#box
{
    width: 350px;
    height: 520px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    background-color: #50577A;
    border-radius: 15px 15px 15px 15px;
}

#content
{
	overflow: hidden;
	position: relative;
    width: 100%;
    height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	white-space: pre-wrap;
    background-color: #f3f5ff;
    border-radius: 15px 15px 15px 15px;
	color: #000000;
}

#article
{
	display: flex;
	gap: 20px;
	flex-direction: row;
}

.btn
{
	position: relative;
	top: 25px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	user-select: none;
}

.row
{
	display: flex;
	gap: 25px;
}

.sqr
{
	width: 65px;
	height: 65px;
	background-color: #00425A;
	border-style: solid;
	border-width: 1px;
	border-color: #002a3a;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#github
{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	cursor: pointer;
}

.equal
{
	width: 65px;
	height: 150px;
	background-color: #9557eb;
	border-radius: 35px 35px 35px 35px;
	border: none;
}

.clear
{
	background-color: #FF6666;
	border: none;
}

.backspace
{
	background-color: #677eff;
	border: none;
}